body{
	background-color: black;
}
form{
	font-style: white ;
	
}
.button5{
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 3px solid #555;
  
  width: 200px ;
}

.button5:hover {
  background-color: #555555;
  color: white;
  border: 3px solid white;
}
.input{
	width: 100px ;
	padding: 12px 20px;

}
div {
  border-radius: 5px;
  background-color: #555;
  padding: 20px;
  width: 20% ;
}
img{
	width: 40% ;
}
a{
	margin-top:  100px ;
}